.logo{
  float: left;
  margin:16px 24px 16px 0px;
  width:120px;
  height: 30px;
  background: rgba(255,255,255,0.3);
}
.content{
  padding: 0 50px;
  min-height: calc(100vh - 64px - 70px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.shortner{
  background: white;
  padding : 24px 20px;
}
.linkfield{
  display: flex;
  flex-direction: row;
}
.linkfieldinput{
 margin-right: 5px;
 flex-grow:1 ;
}
.linkfieldbutton{
  width:120px;
}

.footer{
  text-align: center;
}